h1,
h2,
h3,
h4,
p{
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}


.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

/* =============== COMPONENTS =============== */

.body{
    font-family: 'Roboto', sans-serif;
    font-weight: 14px;
    color: #212121;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: 93px;
}

.logo-color {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.section-description {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.name-contact-people {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.work-contact-people {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/* =============== /COMPONENTS =============== */

/* =============== HEADER =============== */

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 25px;
}

.navigation {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-item:not(:last-child) {
    margin-right: 50px;
}

.contact {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.menu-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.current {
    color: #2196F3;
}

.menu-link:hover,
.menu-link:focus {
    color: #2196F3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.contact:hover,
.contact:focus {
    color: #2196F3;
}

/* =============== /HEADER =============== */

/* =============== HERO =============== */

.hero {
    background: #2F303A;
}

.hero-side {
    padding-top: 200px;
    padding-bottom: 30px;
    padding-left: 237px;
    padding-right: 237px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.modal-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: 485px;
    margin-right: 485px;
    margin-bottom: 200px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.sub-title-list {
    display: flex;
    margin-top: 94px;
    margin-bottom: 94px;
}

.title-sub-list {
    margin-right: 30px;
}

.sub-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.section-description {
    width: 270px;
}

/* =============== /HERO =============== */

/* =============== ACTIVITY =============== */

.activity-section {
    padding-bottom: 94px;
}

.activity-title {
    padding-bottom: 50px;
    padding-right: 397px;
    padding-left: 397px;
}

.activity-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

/* =============== /ACTIVITY =============== */

/* =============== EMPLOES =============== */

.employees-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.employees-title {
    padding-bottom: 50px;
    padding-right: 453px;
    padding-left: 453px;
}

.employees-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.employees-card {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.name-contact-people {
    padding-top: 30px;
    padding-bottom: 10px;
}

/* =============== /EMPLOES =============== */

/* =============== FUTER =============== */

.contact-futer-list {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-futer {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.futer-contact {
    padding-top: 20px;
}

.logo-futer-color {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.contact-map{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding-top: 20px;
}

.contact-futer{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
    color: #757575;
}

.contact-futer:hover,
.contact-futer:focus,
.contact-map:hover,
.contact-map:focus{
    color: #2196F3;
}

/* =============== /FUTER =============== */

/* =============== PORTFOLIO =============== */

.work-type-list {
    display: flex;
    justify-content: space-between;
    padding-top: 94px;
    padding-bottom: 50px;
    padding-left: 280px;
    padding-right: 280px;
}

.btn-list{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
}

.btn-list:hover,
.btn-list:focus{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: #2196F3;
}

.completed-works {
    padding-top: 34px;
    padding-bottom: 94px;
}

.works-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.work-card {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.portfolio-title{
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 4px;
    width: 322px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio-section{
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    width: 322px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

/* =============== /PORTFOLIO =============== */